.form-container-inv {
    margin: 25px;
}

.form-row-inv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-label-inv {
    margin-right: 10px;
}

.form-control-inv {
    width: 25%;
    
}

.form-check-inv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
